<div class = "content">
<div class = "main">
  <h1>Item's List</h1>
  <div class = "AddItem">
    <input [(ngModel)] = "newItem" placeholder = "Add Item" class = "addtext">
    <button (click) = "pushItem()">Add</button>
  </div>
  <ul>
    <li *ngFor ="let i of items;let ind = index" >
      {{i}}
    <span (click) = "removeItem(ind)">X</span>
    </li>
  </ul>
</div>


<div class = "img-circle">
 <img src ="assets\image\1.jpg "/>
 <h3>Designed and Developed  By Arun Kumar</h3>
</div>


<div class = "myName">
  <h3>Copyright &copy; 2018 Arun Austino.</h3>
</div>
</div>

